%html
  %head
    %title<
      &= @title
    %link{:href => '/css/ktty.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Code+Pro', :rel => 'stylesheet', :type => 'text/css'}

  %body
    - @files.each do |file|
      %h2= file['name']
      %pre{:data => {:linenums => 1}}
        %code{:class => "language-#{file['language']}"}
          &= file['content']

    %script{:src => '/js/prism-core.js'}
    - @assets.each do |language|
      %script{:src => "/js/#{language}.js"}
    %script{:src => '/js/show-invisibles.js'}
    %script{:src => '/js/linenums.js'}