%html
  %head
    %title<
      = @title || @desc
    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Code+Pro', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/application.css', :rel => 'stylesheet', :type => 'text/css'}

  %body
    %header
      %h1= @title
      - unless @desc.empty?
        %h2= @desc
    - @files.each do |file|
      - unless @files.count == 1 || file['name'].empty?
        %h3= file['name']
      %pre{:class => 'line-numbers'}
        %code{:class => 'highlight'}!= file['content']

    %script{type: 'text/javascript', src: '/js/application.js'}
